[submodule "ext/WikiSimilarity"]
	path = ext/WikiSimilarity
	url = https://github.com/landrumb/WikiSimilarity
[submodule "ext/autorice"]
	path = ext/autorice
	url = https://github.com/llGaetanll/autorice
[submodule "ext/422-final-project"]
	path = ext/422-final-project
	url = git@github.com:llGaetanll/422-final-project.git
