body {
  min-height: 100%;
  margin: 40px;
  background: #f5f6f5;
}

h1 {
  display: inline-block;
  margin: 0;

  font-family: 'Merriweather';
  font-weight: 900;
  font-size: 60px;
  color: black;
}

h2 {
  margin: 0;
  font-family: 'Open Sans';
  font-weight: 900;
  font-size: 14px;
  color: #2079c7;
  margin-top: 30px;
  margin-bottom: 30px;
}

h3 {
  display: inline-block;
  margin: 0;

  font-family: 'Merriweather';
  font-weight: 900;
  font-size: 16px;
  color: black;
}

h4 {
  position: relative;
  top: -0.5px;
  margin: 0px 5px 0px 2px;
  color: inherit;
  font-size: 12px;
  font-family: 'Open Sans';
  font-weight: 900;
}

p {
  margin: 0;
  text-align: justify;
  font-family: 'Merriweather';
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

img {
  margin-bottom: 10px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: #2079c7;
  font-weight: 700;
}

.h3-span {
  font-family: 'Merriweather';
  font-weight: 400;
  font-size: 16px;
  margin-left: 5px;
}

.desc {
  font-family: 'Open Sans';
  font-size: 12px;
  color: #aaa;
  font-weight: 700;
  margin-bottom: 0px;
}

.title-desc {
  margin: 0;

  font-family: 'Open Sans';
  font-size: 14px;
  font-style: italic;
}

.content {
  display: flex;
  background: #fff;
  flex-direction: column;
  padding: 15px;
  height: -webkit-fill-available;
}

.action-title {
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.material-icons.button {
  font-size: 14px;
}

.ref-button {
  flex-direction: row;
  display: flex;
  color: #627585;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(94, 117, 137, 0.4);
  border-radius: 20px;
  height: 24px;
  padding: 0px 7px;
  margin: 9px 5px 0px 5px;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;
}

.ref-button:hover {
  color: #fff;
  background-color: #839eb7;
  box-shadow: 0 0 20px 0px #5d82a1;
}

.title {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.title-block {
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  flex-direction: row;
}

.block {
  display: flex;
  flex-direction: column;
  margin: 5px;
  overflow-y: auto;
  overflow-x: hidden;
}

.block.fixed {
  min-width: 300px;
  max-width: 300px;
}

.block-wrapper {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-right: 17px;
  box-sizing: content-box;
}

.logo {
  width: 500px;
  height: 500px;
  display: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}