/* FREELANCE */

:root {
  --paper-margin: 16px;
  --paper-padding: 16px;
  --highlight-color: #2079c7;
  --highlight-dark: #778ea2;
}

body {
  margin: 0px;
  background: #f5f6f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-font-smoothing: antialiased;
}

p {
  font: 400 16px/24px Roboto,sans-serif;
  margin: 0px 0px 10px 0px;
}

h1 {
  font-family: 'Slabo 27px', serif;
  margin: 0px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  font-size: 14px;
}

h3 {
  font-family: 'Slabo 27px', serif;
  margin: 0px ;
}

a {
  text-decoration: none;
  height: min-content;
  margin: 0px 10px;
  color: var(--highlight-dark);
}

img {
  border-radius: 5px;
  box-shadow: 0 0 16px 5px rgba(51, 70, 86, 0.03);
}

.width {
  width: -webkit-fill-available;
  width: -moz-available;
}

.m-top {
  margin-top: var(--paper-margin);
}

.m-right {
  margin-right: var(--paper-margin);
}

.m-bottom {
  margin-bottom: var(--paper-margin);
}

.m-left {
  margin-left: var(--paper-margin);
}

/* TOP BAR */

.top-bar {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.top-content {
  width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.spacer {
  flex: 1;
  height: var(--paper-margin);
}

.t-logo {
  height: 40px;
  margin-left: 20px;
  cursor: pointer;
}

.underlined {
  border-bottom: 2px solid var(--highlight-dark);
}

/* CONTENT */

.content {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  top: 80px;
  margin-bottom: 20px;
}

.paper {
  border-radius: 5px;
  background-color: #fff;
  padding: 16px;
  display: inline-block;
  box-shadow: 0 0 16px 5px rgba(51, 70, 86, 0.03);
  flex: 1;
}

.cover-img {
  height: calc(300px - var(--paper-margin));
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: var(--paper-margin);
}

.column {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--paper-margin);
}

.column.inside {
  margin: 0px;
}

.row.inside {
  margin: 0px;
}

.card-holder {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card {
  height: 377px;
  width: 377px;
  border-radius: 5px;
  /* background-color: #fff; */
  /* padding: 8px; */
  /* border: 0.5px solid #ddd; */
  display: inline-block;
  /* box-shadow: 0 0 20px 0px rgba(51, 70, 86, 0.1); */
  transition-duration: 0.3s;
}

.card {
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card > div {
  width: 100%;
  height: 100%;
  display: flex;
  transform-style: preserve-3d;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  /* transition-duration: 0.2s; */
}

.card > div:hover {
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
}

.card-item {
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: contain;
  transform: translateZ(50px);
  width: 200px;
  height: 200px;
}

.logo {
  background-image: url('../images/logo\ bg@0.5x.png');
  color: #ddd;
}

.react {
  background-image: url('../images/RN\ code@0.5x.png');
  color: #ddd;
}

.webdev {
  background-image: url('../images/HTML\ code@0.5x.png');
  color: #ddd;
}

.card-item.logo {
  background-image: url('../images/Logo@0.5x.png');
}

.card-item.react {
  background-image: url('../images/Phone@0.5x.png');
}

.card-item.webdev {
  background-image: url('../images/Computer@0.5x.png');
}

.card:hover {
  /* box-shadow: 0 0 16px 5px rgba(51, 70, 86, 0.2); */
  transform: scale(1.03);
}

.icon {
  height: 60px;
}

.boxout {
  background-color: #f5f5f5;
  color: black;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  display: inline-block;
  padding: 0px 4px 4px 4px;
  margin-top: 5px;
}

@media only screen and (max-width: 1250px) {
  .content {
    width: 750px;
  }

  .top-content {
    width: 750px;
  }
  
  .card {
    width: 213px;
  }

  .cover-img {
    height: 86.4px;
  }
}

@media only screen and (max-width: 775px) {
  .content {
    width: 350px;
  }

  #familiar {
    display: none;
  }

  .card-holder {
    flex-direction: column;
  }

  .card {
    height: 120px;
    width: -webkit-fill-available;
    margin: 8px 0px;
  }

  .top-content {
    width: 350px;
    justify-content: center;
  }

  .phone-diss {
    display: none;
  }

  .t-logo {
    margin: 0;
  }

  #description {
    flex-direction: column;
    align-items: center;
  }

  .cover-img {
    width: 86.4px;
    margin-bottom: 16px;
  }

  .paper.m-left {
    margin: 0px;
  }

  .card-item {
    width: 100px;
    height: 100px;
  }
}