body {
    height: -webkit-fill-available;
    height: -moz-available;
}

p {
    margin-left: 10px;
}

a.tab {
    display: flex;
    align-items: center;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 0.9em;

    margin: 10px 0px;

    transition-duration: .2s;
}

a.tab:hover {
    background: none;
    margin-left: 4px;
}

.side-bar {
    width: 100px;
    padding: 74px;
    position: fixed;

    grid-area: sidebar;
}

.top-bar {
    width: -webkit-fill-available;
    height: 30px;
    display: none;
    position: fixed;

    background-color: #fff;

    grid-area: "topbar"
}

/* profile */

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-bottom: var(--spacer-2);
}

.profile h1 {
    font-size: 0.9em;
}

.profile img {
    height: 50px;
    border-radius: 50%;

    transform: translateY(-50%);
}

.grid {
    display: grid;
    grid-template-columns: 248px 600px;

    grid-template-areas: 
    "sidebar content"
}

/* content */

#content {
    max-width: 600px;
    margin-top: 45px;

    font-family: 'Roboto', sans-serif;

    grid-area: content;
}

#content li {
    margin: 5px 0px; 
}


#content a {
    all: unset;
    font-weight: bolder;
    cursor: pointer;
    padding: 2px;
    border-radius: 2px;
    color: #000;
}

#content a:hover {
    background-color: #000;
    color: #fff;
}

#content a.section {
    padding: 0;
}

#content a.section:hover {
    all: unset;
}

#content h1, h2, h3, h4, h5, h6 {
    color: #333;
}

#content h1 {
    padding: 10px 0px;
}

#content h1::before {
    content: '#';
    color: #BBB;
    margin-right: 10px;
    cursor: pointer;
}

#content h3 {
    font-size: 1.3em;
}

#content h4 {
    font-style: italic;
    font-weight: 300;
}

@media all and (max-width: 899px) {
    .grid {
        grid-template-columns: auto;
        grid-template-rows: 60px auto;
    
        grid-template-areas:
        "topbar"
        "content"
    }

    /* .top-bar {
        display: flex;
    } */

    .side-bar {
        display: none;
    }

    #content {
        margin: 0px 10px;
    }
}