:root {
    --base-font: 'Roboto';
    --shadow: 0 0 36px rgba(0,0,0,0.1);
    --shadow-selected: 0 0 64px rgba(0,0,0,0.22);
    --border: #dadce0;
    --text-0: #000;
    --text-1: #3c4043;

    --main-background: #ffffff;

    --text-light-0: #fff;
    --text-light-1: #eee;
    --background-0: #fff;
    --background-1: #f5f6f7;

    --shades-0: #f5f1fa;
    --shades-1: #e3dfe9;
    --shades-2: #d9d5df;
    --shades-3: #cdc9d3;
    --shades-4: #bdb9c2;

    --highlight-0: #6a1b9a;
    --highlight-1: #7b1fa2;
    /* --highlight-0: #ff6f00;
    --highlight-1: #ff9100; */

    --spacer-1: 12px;
    --spacer-2: 24px;

    --transition-time-0: 0.2s;
}

:focus {
    outline: 0;
}

::placeholder {
    color: var(--shades-2);
    opacity: 1; /* Firefox */
}

html {
    background-color: var(--main-background);
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--base-font);
    margin: 0;
}

p {
    color: var(--text-1);
}

a {
    font-family: var(--base-font);
}

input {
    padding: 5px;
    border: none;
    background-color: transparent;
    text-align: center;
    border-bottom: 2px solid var(--shades-3);

    font-family: var(--base-font);
    font-size: 1em;
    color: var(--shades-3);
    font-weight: 500;
}

/* GENERAL PURPOSE */

.page {
    display: flex;
    height: -webkit-fill-available;
}

.main {
    width: -webkit-fill-available;
    width: -moz-fill-available;
    height: -webkit-fill-available;
    height: -moz-fill-available;

    display: flex;
    align-items: center;
    justify-content: center;
}

.block {
    background-color: var(--background-0);
    display: flex;
    width: min-content;
    padding: var(--spacer-1);
    border-radius: 7px;
    box-shadow: var(--shadow);
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.button {
    width: 30px;
    height: 25px;
    border-radius: 3px;
    border: 1px solid var(--border);
    text-decoration: none;
    color: var(--text-1);
    font-size: 0.8em;
    font-family: 'Product Sans Medium Regular';
    cursor: pointer;

    padding: 7px 10px;
    margin: 0px 5px;
    transition-duration: var(--transition-time-0);

    background-color: var(--background-0);
}

.button.highlighted {
    border: none;
    background: linear-gradient(to right, var(--highlight-0), var(--highlight-1));
    color: var(--background-0);
}

.button.highlighted:hover  {
    background: linear-gradient(to right, var(--highlight-0), var(--highlight-0));
}

.button:hover {
    background-color: var(--background-1);
}

.button.transparent {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: auto;

    border: none;
    padding: 0;
    color: var(--highlight-0);
    background: none;
    margin: 0;
}

.button.transparent .icon {
    margin-right: 5px;
}

.img-card:hover .button.transparent {
    margin-left: 5px;
}

.button-row {
    margin: 13px 0px;
}

.hoverable {
    transition-duration: var(--transition-time-0);
}

.hoverable:hover {
    box-shadow: var(--shadow-selected);
}

.hoverable-circle {
    transition-duration: var(--transition-time-0);
}

/* for icons */
.hoverable-circle:hover ::after {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(1, 1, 1, 0.4);

    transition-duration: var(--transition-time-0);
}

.icon {
    vertical-align: middle;
}

/* SINGLE ELEMENTS AND SUB-ELEMENTS */

/* top bar */
.top-bar {
    display: flex;
    align-items: center;
    padding: 15px;

    font-family: var(--base-font);
}

.top-bar h1 {
    font-size: 1.3em;
}

a.tab {
    all: unset;
    margin: 0 5px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: var(--background-0);

    color: var(--text-1);
}

a.tab:hover {
    background-color: var(--background-1);
}

/* sidebar */

.side-bar {
    display: inline-flex;
    flex-direction: column;
    padding: 20px;
    height: inherit;
}

/* window */

.window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 300px;
    height: 500px;

    flex-direction: column;
}

.window h1 {
    font-size: 1.2em;
}

/* card */
.card {
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;

    box-shadow: var(--shadow);
}

.card h1 {
    font-size: 1.13em;
}

.card p {
    font-family: var(--base-font);
    font-size: 0.8em;
}

.card.img-card {
    padding: 0;
    overflow: hidden;
}

.img-card > div {
    padding: 26px 30px;
}

.img-card > img {
    width: 100%;
}

/* alert */

.alert {
    height: 30px;
    width: 600px;
    background: linear-gradient(to right, var(--highlight-0), var(--highlight-1));
    border-radius: 5px;
    color: var(--text-light-1);
    box-shadow: var(--shadow-selected);
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.alert h1, h2 {
    font-size: 1em;
    margin: 0 1px;
}

.alert h2 {
    font-weight: 400;
}

/* user */

.user-box {
    min-width: 100%;
}

.user-box > img {
    border-radius: 50%;
    height: 47px;
}

.user-info {
    margin-left: 15px;
    width: 110px; /* bad bad very bad change later */
    font-family: 'Roboto', sans-serif;
}

.user-info h1 {
    font-family: inherit;
    font-weight: 500;
    font-size: 1em;
}

.user-info h2 {
    font-family: inherit;
    font-weight: 500;
    font-size: .8em;
    margin: 0;
}

.user-info h3 {
    font-family: inherit;
    font-weight: 500;
    font-size: .7em;
    margin: 0;
}

/* tree */

.tree {
    border-left: 1px solid var(--shades-3);
    margin-left: 34px;
    padding-top: 15px;
    font-weight: 500;
}

.tree-block {
    margin-top: 5px;
}

.tree-indentation {
    margin-left: 16px;
}

.tree-indentation a {
    text-decoration: none;
    color: inherit;
}

.tree-indentation h1 {
    font-size: 0.8em;
    font-weight: inherit;
    margin: 2px 0;
}

.tree-indentation a {
    transition-duration: var(--transition-time-0);
}

.tree-indentation a:hover {
    color: var(--highlight-1);
}

.tree-indentation a:hover {
    padding-left: 5px;
}

.tree-indentation a.selected {
    color: var(--highlight-0);
}

.tree-branch {
    display: flex;
    align-items: center;
}

.tree-branch-indicator {
    display: block;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: var(--shades-3);
    position: relative;
    left: -16px; /* bad. change later. as well as line below. ideally make it entirely react */
    transform: translateX(-55%);
}