:root {
  --paper-margin: 16px;
  --paper-padding: 16px;
  --highlight-color: #2079c7;
  --highlight-dark: #778ea2;
  --selected-text: #2079c7;
  --block: #fff;
  --shadow: 0 0 16px 5px rgba(51, 70, 86, 0.03);
  --width: 800px;
}
body {
  margin: 0;
  overflow-y: auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Merriweather;
  margin: 0;
}
a {
  text-decoration: none;
  color: #2079c7;
  font-weight: 700;
  display: flex;
  align-items: center;
}
p {
  font-family: Roboto;
}
img {
  margin: 5px;
  border-radius: 5px;
}
.row {
  display: flex;
  flex-direction: row;
  margin-bottom: var(--paper-margin);
}
.column {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--paper-margin);
}
.block {
  background-color: var(--block);
  border-radius: 3px;
  box-shadow: var(--shadow);
}
.divider {
  display: flex;
  flex: 1;
  margin: 15px 5px;
  border-bottom: 1px solid #eee;
}
.youtube {
  width: var(--width);
  height: calc(calc(var(--width) / 560) * 315);
  margin: 5px 0;
}
.main {
  width: var(--width);
  height: fit-content;
  margin: 10px auto;
}
