body {
  background: #f5f6f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-font-smoothing: antialiased;
}

h1 {
  display: inline-block;
  margin: 0;

  font-family: 'Merriweather';
  font-weight: 900;
  font-size: 30px;
  color: black;
}

h2 {
  margin: 0px 0px 10px 0px;
  font-family: 'Open Sans';
  font-weight: 900;
  font-size: 14px;
  color: #2079c7;
}

h3 {
  display: inline-block;
  margin: 0;

  font-family: 'Merriweather';
  font-weight: 900;
  font-size: 16px;
  color: black;
}

h4 {
  position: relative;
  top: -0.5px;
  margin: 0px 5px 0px 2px;
  color: inherit;
  font-size: 12px;
  font-family: 'Open Sans';
  font-weight: 900;
}

h5 {
  font-family: 'Slabo 27px', serif;
  font-size: 18px;
  margin: 0px;
}

p {
  margin: 0;
  text-align: justify;
  font-family: 'Merriweather';
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

p > a {
  display: inline-block;
}

img {
  margin-bottom: 10px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: #2079c7;
  font-weight: 700;

  display: flex;
  align-items: center;
}

a > h3 {
  margin-left: 20px;
}

h3 > span {
  font-family: 'Merriweather';
  font-weight: 400;
  font-size: 16px;
  margin-left: 5px;
}

.spacer {
  flex: 1;
  height: var(--paper-margin);
}

/* TOP BAR */

.top-bar {
  grid-area: to;
}

.top-content {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  background-color: #fff;
  padding: 16px;
  margin: 16px 0px;
  box-shadow: var(--shadow);
}

.t-logo {
  height: 40px;
  margin: 0px 20px 0px 0px;
  cursor: pointer;
}

.underlined > h3 {
  color: var(--selected-text);
}

.top-link {
  text-decoration: none;
  height: min-content;
  margin: 0px 10px;
  color: var(--highlight-dark);
}

/* PAGE */

.content {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  margin-bottom: 20px;
}

/* .cover-photo {
  width: -webkit-fill-available;
  width: -moz-available;
  display: block;
} */

.cover-photo {
  width: 200px;
  margin-right: 10px;
  float: left;
  display: block;
}

.desc {
  font-family: 'Open Sans';
  font-size: 12px;
  color: #aaa;
  font-weight: 700;
  margin-bottom: 0px;
}

.title-desc {
  margin: 0px 0px 0px 10px;
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: italic;
}

/* .main {
  display: grid;
  grid-template-rows: 250px 140px 300px;
  grid-template-columns: 300px 1fr 1fr 1fr;
  grid-gap: 20px;
  grid-template-areas:
    "ab ed pr sk"
    "ab ou pr aw"
    "ab ou pr la";
  
  margin: 0px 250px;
  padding: 10px;
} */

.main {
  width: 900px;
  display: grid;
  grid-template-rows: auto 320px repeat(3, auto);
  grid-template-columns: 300px 1fr 1fr 1fr;
  grid-gap: 20px;
  grid-template-areas:
    "to to to to"
    "ab ab ed ed"
    "pr pr ou ou"
    "pr pr ou ou"
    "sk sk aw la";
  
  /* margin: 20px 250px; */
  margin-top: 10px;
  transform: none;
}

#about-me {
  grid-area: ab;
}

#education {
  grid-area: ed;
}

#outreach {
  grid-area: ou;
}

#projects {
  grid-area: pr;
}

#skills {
  grid-area: sk;
}

#awards {
  grid-area: aw;
}

#languages {
  grid-area: la;
}

.section {
  display: block;
  overflow: hidden;
}

.block-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-right: 17px;
  box-sizing: content-box;
}

.end {
  height: 10px;
}

@media all and (max-width: 1250px) {
  .content {
    width: 750px;
  }

  .cover-photo {
    height: 110px;
    width: 110px;
    margin-right: 10px;
    float: left;
  }

  .main {
    display: grid;
    grid-template-rows: auto 300px 300px 300px;
    grid-template-columns: 300px 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
      "to to to"
      "ab ed pr"
      "ou ou pr"
      "sk aw la";
      
    margin: 50px;
    padding: 10px;
  }
}

@media all and (max-width: 755px) {
  body {
    top: 0;
    transform: none;
  }

  .content {
    width: 350px;
  }

  .top-bar {
    margin: 0px 20px;
  }

  .top-content {
    margin: 16px;
  }

  .logo {
    opacity: 0;
  }

  .block-wrapper {
    padding: 0px;
    overflow: hidden;
  }

  .paper {
    box-shadow: none;
  }

  .section {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: var(--shadow);
  }

  .title-desc {
    display: none;
  }

  h1 {
    font-size: 40px;
    margin: 0px auto;
  }

  .cover-photo {
    height: 100px;
    width: 100px;
    margin: 10px auto;
    float: none;
  }

  h1 {
    display: none;
  }

  .main {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-gap: 20px;
    grid-template-areas:
      "to"
      "ab"
      "pr"
      "sk"
      "ed"
      "ou"
      "la"
      "aw";
    background-color: transparent;
    width: auto;
    margin: 0;
    padding: 10px;
  }
}