:root {
  --paper-margin: 16px;
  --paper-padding: 16px;
  --highlight-color: #2079c7;
  --highlight-dark: #778ea2;

  --shadow: 0 0 16px 5px rgba(51, 70, 86, .03);
}

body {
  margin: 0px;
  background: #f5f6f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-font-smoothing: antialiased;
}

h1 {
  display: inline-block;
  margin: 0;

  font-family: 'Merriweather';
  font-weight: 900;
  font-size: 60px;
  color: black;
}

h2 {
  margin: 0px 0px 30px 0px;
  font-family: 'Open Sans';
  font-weight: 900;
  font-size: 14px;
  color: #2079c7;
}

h3 {
  display: inline-block;
  margin: 0;

  font-family: 'Merriweather';
  font-weight: 900;
  font-size: 16px;
  color: black;
}

h4 {
  position: relative;
  top: -0.5px;
  margin: 0px 5px 0px 2px;
  color: inherit;
  font-size: 12px;
  font-family: 'Open Sans';
  font-weight: 900;
}

h5 {
  font-family: 'Slabo 27px', serif;
  font-size: 18px;
  margin: 0px;
}

p {
  margin: 0;
  text-align: justify;
  font-family: 'Merriweather';
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

img {
  margin-bottom: 10px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: #2079c7;
  font-weight: 700;
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: var(--paper-margin);
}

.column {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--paper-margin);
}

.spacer {
  flex: 1;
  height: var(--paper-margin);
}

/* TOP BAR */

.top-content {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  background-color: #fff;
  padding: 16px;
  margin: 16px 0px;
  box-shadow: var(--shadow);
}

.t-logo {
  height: 40px;
  margin: 0px 0px 0px 20px;
  cursor: pointer;
}

.underlined {
  border-bottom: 2px solid var(--highlight-dark);
}

.top-link {
  text-decoration: none;
  height: min-content;
  margin: 0px 10px;
  color: var(--highlight-dark);
}

/* PAGE */

.content {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  margin-bottom: 20px;
}

.cover-photo {
  width: -webkit-fill-available;
  width: -moz-available;
  display: block;
}

.h3-span {
  font-family: 'Merriweather';
  font-weight: 400;
  font-size: 16px;
  margin-left: 5px;
}

.desc {
  font-family: 'Open Sans';
  font-size: 12px;
  color: #aaa;
  font-weight: 700;
  margin-bottom: 0px;
}

.title-desc {
  margin: 0px 0px 0px 10px;
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: italic;
}

#content {
  display: grid;
  grid-template-rows: 100px 100px 300px 300px;
  grid-template-columns: 300px 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-template-areas:
    "ti ti ti ti"
    "ab ed pr sk"
    "ab ed pr sk"
    "ab ou pr sk";
}

.section {
  display: block;
  overflow: hidden;
}

#about {
  grid-area: ab;
}

#education {
  grid-area: ed;
}

#outreach {
  grid-area: ou;
}

#projects {
  grid-area: pr;
}

#skills {
  grid-area: sk;
}

.paper {
  border-radius: 5px;
  background-color: #fff;
  padding: 16px;
  display: inline-block;
  box-shadow: var(--shadow);
  flex: 1;
}

.action-title {
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.material-icons.button {
  font-size: 14px;
}

.ref-button {
  flex-direction: row;
  display: flex;
  color: #627585;
  background-color: #fff;
  box-shadow: var(--shadow);
  border-radius: 20px;
  height: 24px;
  padding: 0px 7px;
  margin: 9px 5px 0px 5px;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;
}

.ref-button:hover {
  color: #fff;
  background-color: #839eb7;
  box-shadow: 0 0 20px 0px #5d82a1;
}

.title {
  display: flex;
  flex-direction: column;
  margin-bottom: -10px;
}

.title-block {
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  flex-direction: row;
}

.block {
  display: flex;
  flex-direction: column;
  margin: 5px;
  overflow-y: auto;
  overflow-x: hidden;
}

.block.fixed {
  min-width: 300px;
  max-width: 300px;
}

.block-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-right: 17px;
  box-sizing: content-box;
}

.logo {
  width: 500px;
  height: 500px;
  display: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scrollable {
  transition-duration: 0.3s;
}

.scrollable:hover {
  box-shadow: inset -10px -4px 6px 0px rgba(32, 121, 199, 0.3);
}

@media screen and (max-device-width: 1250px) {
  .content {
    width: 750px;
  }

  #content {
    display: grid;
    grid-template-rows: 100px 300px 300px 300px;
    grid-template-columns: 300px 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
      "ti ti ti"
      "ab ed pr"
      "ab ed pr"
      "sk ou pr";
  }
}

@media screen and (max-device-width: 755px) {
  .content {
    width: 350px;
  }

  .top-content {
    margin: 16px;
  }

  .logo {
    opacity: 0;
  }

  .block-wrapper {
    padding: 0px;
    overflow: hidden;
  }

  .paper {
    box-shadow: none;
  }

  .section {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: var(--shadow);
  }

  .title-desc {
    display: none;
  }

  h1 {
    font-size: 40px;
    margin: 0px auto;
  }

  #content {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: auto;
    grid-gap: 20px;
    grid-template-areas:
      "ti"
      "ab"
      "pr"
      "sk"
      "ed"
      "ou";
    background-color: transparent;
  }
}