@font-face {
    font-family: 'Gotham HTF';
    src: url('/fonts/gothamhtf-medium-webfont.ttf');
}

@font-face {
    font-family: 'Gotham Light';
    src: url('/fonts/Gotham-Light.ttf');
}

body {
    background-color: #f2f2f2;
}

h4 {
    font-family: 'Gotham HTF', sans-serif;
    font-size: 32px;
    font-weight: 100;
    letter-spacing: 2px;
    margin: 0px;
}

p {
    font-family: 'Gotham HTF', sans-serif;
    font-size: 20px;
}

button {
    all: unset;
    font-family: 'Gotham HTF', sans-serif;
    padding: 5px 20px;
    border: 1px solid #aaa;
    cursor: pointer;
}

.main {
    margin-left: -5px;
    margin-right: -5px;
}

.row {
    display: flex;
    flex-direction: row;
    height: fit-content;
    flex: 0 1 auto;
}

.row.main {
    display: flex;
    margin: 0px;
    flex: 1;
    padding: 0px;
    margin: 144px 340px;
}

.logo-img {
    width: 440px;
    top: 162px;
    left: 307px;
    position: absolute;
    transform: scale(0.5) translateY(-25%);
}

.t-para {
    margin: 45px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: unset;
    margin-top: 60px;
}

.left {
    background-color: #ede5df;
}

.right {
    background-color: white;
}

.textbox {
    margin: 50px 50px;
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
}

