@font-face {
    font-family: 'Gotham HTF';
    src: url('/fonts/gothamhtf-medium-webfont.ttf');
}

@font-face {
    font-family: 'Gotham Light';
    src: url('/fonts/Gotham-Light.ttf');
}

body {
    background-color: #f2f2f2;
}

h4 {
    font-family: 'Gotham HTF', sans-serif;
    font-size: 32px;
    font-weight: 100;
    letter-spacing: 2px;
    margin: 0px;
}

p {
    font-family: 'Gotham HTF', sans-serif;
    font-size: 20px;
}

button {
    all: unset;
    font-family: 'Gotham HTF', sans-serif;
    padding: 5px 20px;
    border: 1px solid #aaa;
    cursor: pointer;
}

.main {
    margin: 0px;
    display: flex;
    flex: 1;
    padding: 0px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.row {
    display: flex;
    flex-direction: row;
    height: fit-content;
    flex: 0 1 auto;
}

.row.main {
    height: 470px;
    width: 750px;
}

.logo-img {
    width: 220px;
}

.t-para {
    margin: 45px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: unset;
    margin-top: 60px;
}

.left {
    background-color: #ede5df;
    width: 50%;
}

.right {
    background-color: white;
    width: 50%;
}

.column {
    justify-content: center;
    align-items: center;
    height: -webkit-fill-available;
}

.textbox {
    margin: 50px 50px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

