@font-face {
    font-family: 'Gotham-Book';
    src: url(/computedfonts/gotham-book-webfont.woff) format('woff');
    src: url(/fonts/Gotham-Book.ttf) format('truetype');
}

body {
    overflow-x: hidden;
    overflow-y: auto;
}

.column.journal {
    margin: 0px calc(45px / 2);
    flex: 1;
}

a {
    color: black;
    text-decoration: underline;
}

h6 {
    margin: 0px;
    font-family: 'Gotham-Book', sans-serif;
    font-size: 24px;
    font-weight: 300;
}

h5 {
    font-size: 12px;
}

img {
    width: 100%;
}

.column {
    display: block;
    margin-bottom: 45px;
}

.main {
    width: -webkit-fill-available;
    margin: 220px calc(-45px / 2) 0px calc(-45px / 2);
}

.header {
    top: 140px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-bar-wrapper {
    /* border-bottom: 1px solid #B4B4B4; */
}

/* .line {
    width: -webkit-fill-available;
    height: 1px;
    background-color: #B4B4B4;
    margin: 20px 150px;
    margin-bottom: 56px;
} */